<a href="https://colab.research.google.com/github/jcpalaciosb/Proyectos/blob/main/Proyecto_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PROYECTO 2

## Datos Personales

* **Nombre Completo**: Juan Carlos Palacios Banchero
* **ID Coding Dojo**: 81390
* **Track**: Machine Learning
* **Nombre del proyecto**: 
* **Parte Nro.**:

In [ ]:
# montaje de librerias 
import pandas as pd
from google.colab import drive
drive.mount("/content/drive")

# PARTE 1

Escoger el conjunto de datos de primera opción, y un conjunto de datos de reserva en caso de que el primero propuesto no se apruebe.

Proponer dos conjuntos de datos que tengan cada uno un componente de aprendizaje supervisado. Pueden elegir un problema de regresión o clasificación para cada conjunto de datos propuesto.  

Crear un cuaderno de Colab donde hayan subido y mostrado el .head() de cada uno de los conjuntos de datos.  Para cada uno de los conjuntos de datos propuestos, respondan las siguientes preguntas:

1) Fuente de datos

2) Breve descripción de datos

3) ¿Cuál es el objetivo?

4) ¿Este es un problema de clasificación o regresión?

5) ¿Cuántas características hay?

6) ¿Cuántas filas de datos hay?

7) ¿Qué retos, si es que hay alguno, prevén en la limpieza, exploración o modelización con este conjunto de datos?

## Primera Opcion:

1) Fuente de datos: [Stock Prediction Dataset - ADP](https://www.kaggle.com/datasets/abhishek14398/stock-prediction-dataset-adp)

2) Breve descripcion de datos: 

* Este conjunto de datos contiene datos históricos de acciones de la empresa ADP Inc. durante 1980-2022. Se puede utilizar para predecir precios futuros para una mejor inversión.

 * Descripcion de los datos:

| Column    | Description                                         |
|-----------|-----------------------------------------------------|
| Index     | Index                                               |
| Date      | Date                                                |
| High      | Highest Trading Value at Specific Window            |
| Low       | Lowest Trading Value at Specific Window             |
| Open      | Starting Transaction Value at Specific Window       |
| Close     | Last Transaction Value at Specific Window           |
| Volume    | Number of Transactions at Specific Window           |
| Adj Close | Closing Value After Adjustment for Different Events |

In [4]:
# carga de datos
filename="/content/ADP-Data.csv"
df1 = pd.read_csv(filename)
df1.head()

,Unnamed: 0,Date,High,Low,Open,Close,Volume,Adj Close
0,0,1980-03-17,0.927141,0.908554,0.0,0.917847,1158040.1,0.520855
1,1,1980-03-18,0.930239,0.914749,0.0,0.927141,1622063.1,0.525637
2,2,1980-03-19,0.942631,0.927141,0.0,0.942631,1367859.1,0.533608
3,3,1980-03-20,0.961218,0.939533,0.0,0.939533,3046412.1,0.532014
4,4,1980-03-21,0.948826,0.936435,0.0,0.936435,1020851.1,0.530420

3) Cual es el objetivo: 
* Utilizar la data arriba detallada para evaluar diferentes modelos de aprendizaje supervisado para elegir el mas adecuado que permita pronosticar de la mejor manera alguna caracteristica de da la data

4) ¿Este es un problema de clasificación o regresión?

* Por las caracteristicas numericas de la data, este sera un problema de regresion.

5) ¿Cuántas características hay?

In [13]:
print(f"La cantidad de caracteristicas es: {len(df1.keys())}") 
print(f"Las caracteristicas a trabajar son: {df1.columns}")

La cantidad de caracteristicas es: 8
Las caracteristicas a trabajar son: Index(['Unnamed: 0', 'Date', 'High', 'Low', 'Open', 'Close', 'Volume',
       'Adj Close'],
      dtype='object')

6) ¿Cuántas filas de datos hay?

In [17]:
filas=df1.shape[0]
print(f"Hay un total de {filas} filas")

Hay un total de 10752 filas

7) ¿Qué retos, si es que hay alguno, prevén en la limpieza, exploración o modelización con este conjunto de datos?

In [18]:
# revision de duplicados:

In [23]:
df1.columns.duplicated()   # revision en columnas

array([False, False, False, False, False, False, False, False])

In [24]:
df1.duplicated().sum()   # revision en filas

0

In [ ]:
# revision de datos faltantes

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10752 entries, 0 to 10751
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10752 non-null  int64
 1   Date        10752 non-null  object
 2   High        10752 non-null  float64
 3   Low         10752 non-null  float64
 4   Open        10752 non-null  float64
 5   Close       10752 non-null  float64
 6   Volume      10752 non-null  float64
 7   Adj Close   10752 non-null  float64
dtypes: float64(6), int64(1), object(1)
memory usage: 672.1+ KB

La data no presenta duplicados ni en columnas ni en filas y tampoco tiene datos faltantes. Habra que analizar la data innecesaria, la correlacion de las variables, determinacion de la variable objetivo y la normalizacion de los valores en su mayoria numerico. El reto prinicpal en esta etapa sera evaluar la mejor manera de trabajar la caracteristica Date y su relevancia en el modelo.

## Segunda Opcion:

1) Fuente de datos: [Walmart Sales Dataset of 45stores](https://www.kaggle.com/datasets/varsharam/walmart-sales-dataset-of-45)

2) Breve descripcion de datos:

* ¿Cómo utiliza Walmart Big Data?

* Mejora del proceso de pago en la tienda: mediante el uso del análisis predictivo, las tiendas pueden anticipar la demanda en una semana determinada y determinar cuántos representantes de ventas/empleados se necesitan.

* Gestión de los pasos de la cadena de suministro: la empresa optimiza las rutas al muelle de envío y realiza un seguimiento del número de veces que se accede al producto antes de que llegue al destino del Cliente. Además, utiliza los datos para analizar los carriles y rutas de transporte de los camiones de la empresa. Estos datos ayudan a Walmart a mantener bajos los costos de transporte y programar un horario adecuado para los conductores.

* Optimización del surtido de productos: al analizar las preferencias de los clientes y los patrones de compra, Walmart acelera la toma de decisiones sobre cómo mantener las existencias. Big Data proporciona información sobre artículos nuevos y productos descontinuados. Personalización de la experiencia de compra: con Big Data, Walmart analiza las preferencias de compra de los clientes para desarrollar una experiencia de compra consistente y agradable.

* y mucho más…

* Descripcion de los datos:

| Column       | Description                                                                                                        |
|--------------|--------------------------------------------------------------------------------------------------------------------|
| Store        | Store Numbers ranging from 1 to 45                                                                                 |
| Date         | The Week of Sales. It is in the format of dd-mm-yyyy. The date starts from 05-02-2010                              |
| Weekly_Sales | The sales of the given store in the given week                                                                     |
| Holiday_Flag | If the week has a special Holiday or not. 1-The week has a Holiday 0-Fully working week Holiday events is given in |
| Temperature  | Average Temperature of the week of sales                                                                           |
| Fuel_Price   | Price of the Fuel in the region of the given store                                                                 |
| CPI          | Customer Price Index                                                                                               |
| Unemployment | Unemployment of the given store region                                                                             |

In [26]:
filename="/content/walmart-sales-dataset-of-45stores.csv"
df2 = pd.read_csv(filename)
df2.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

3) Cual es el objetivo:
 
* Utilizar la data arriba detallada para evaluar diferentes modelos de aprendizaje supervisado para elegir el mas adecuado que permita pronosticar de la mejor manera alguna caracteristica de da la data

4) ¿Este es un problema de clasificación o regresión?

* Por las caracteristicas numericas de la data, este sera un problema de regresion.

5) ¿Cuántas características hay?

In [27]:
print(f"La cantidad de caracteristicas es: {len(df2.keys())}") 
print(f"Las caracteristicas a trabajar son: {df2.columns}")

La cantidad de caracteristicas es: 8
Las caracteristicas a trabajar son: Index(['Store', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature',
       'Fuel_Price', 'CPI', 'Unemployment'],
      dtype='object')

6) ¿Cuántas filas de datos hay?

In [28]:
filas=df2.shape[0]
print(f"Hay un total de {filas} filas")

Hay un total de 6435 filas

7) ¿Qué retos, si es que hay alguno, prevén en la limpieza, exploración o modelización con este conjunto de datos?

In [30]:
# revision de duplicados:

In [29]:
df2.columns.duplicated()   # revision en columnas

array([False, False, False, False, False, False, False, False])

In [31]:
df2.duplicated().sum()   # revision en filas

0

In [ ]:
# revision de datos faltantes

In [32]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

# Referencias

* [Kraggle](https://www.kaggle.com/)
* [Curso Regression Models](https://github.com/fralfaro/CodingDojo-DataScience/blob/main/docs/6-RegressionModels/6-RegressionModels.ipynb)
* [Curso MAT281_2022](https://github.com/fralfaro/MAT281_2022)
* [Curso CodingDojo-DataScience](https://github.com/fralfaro/CodingDojo-DataScience)
* [Pandas](file:///C:/Users/dpala/Documents/Coding_dojo-data-science/Python_intro/Los_fundamentos/2-Pandas.ipynb%20-%20Colaboratory.pdf)
* [Visualizaciones](file:///C:/Users/dpala/Documents/Coding_dojo-data-science/Python_intro/Los_fundamentos/Visualizacion.pdf)
* [Matploib](file:///C:/Users/dpala/Documents/Coding_dojo-data-science/Python_intro/Los_fundamentos/Matplotlib%20-%20Home.pdf)